# Build and Release Folders
target/
build/

# Gradle files and folders
.gradle

# Mac OS X files and folders
.DS_Store
._*

# Eclipse files and folders
.settings/
.project
.classpath
.metadata
eclipse/

# IDEA files and folders
.idea/
out/
*.iml
*.ipr
*.iws